@model IEnumerable<ATM.Models.AvailableAccountsViewModel>
@{ViewBag.Title = "Available Accounts";}



<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    CREATE NEW BANK ACCOUNT
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                @{Html.RenderPartial("CreateBankAccount", new ATM.Models.BankAccountViewModel()); }

            </div>
        </div>
    </div>
</div>


@using (@Html.BeginForm())
{
    @Html.AntiForgeryToken()



    foreach (var item in Model)
    {
        <a href="@Url.Action("SelectAccount", new { @accountNumber = item.AccountNumber })">
            <div class="tile">
                <h6 class="text-uppercase text-left accountsListItem">
                    <span>@item.AccountName</span>
                    @item.AccountNumber
                    <span class="fui-arrow-right icon"></span>
                </h6>
            </div>
        </a>
    }

}
