
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | ATM</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        @Html.Partial("_HeaderPartial")
        <div class="row">
            <div class="col-xs-12" id="screenView">
                <div class="col-xs-9">
                    @Html.Partial("Operations/_Title")
                    @RenderBody()
                </div>
                <div class="col-xs-3">
                    <br />
                    <br />
                    <div id="BackButton">

                    </div>

                    @{
                        Html.RenderPartial("_LoggedInPartial");
                    }
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_FooterPartial")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    <script type="text/javascript">
        var isIndex = document.querySelector("#IndexView");
        if (isIndex == null) {
            $("#BackButton").load('@Url.Action("BackButton", "Operations")');
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>