<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | ATM</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="demo-headline" style="padding:0px;">
            <h1 class="atm-logo">
                @if (Request.IsAuthenticated)
                {
                    <a href="@Url.Action("Index", "Operations")">
                        ATM
                        <small>24 Hour Banking</small>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Index", "Home")">
                        ATM
                        <small>24 Hour Banking</small>
                    </a>
                }
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-12" id="screenView">
                <div class="row">
                    @RenderBody()
                </div>
            </div>

        </div>
    </div>
    @Html.Partial("_FooterPartial")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>